<div class="component__inner columns__inner">
  {{> component this}} 

  {{#if _items}} 
  <div class="columns__main">
    {{#each _items}}
      <div class="columns__col">{{{text}}}</div>
    {{/each}}
  </div>  
  {{else}}
  <div class="columns__body" style="column-count: {{_columns}}">{{{content}}}</div>
  {{/if}}
  

</div>
